/* created by Ying Hu using BootStrap library */
/* 04/2020 */

@import url('https://fonts.googleapis.com/css?family=Crimson+Pro:400,700|Source+Sans+Pro:400,700|Source+Serif+Pro:400,700&display=swap');

body {
    overflow-x: hidden;
    color:black;
    font-size: 15px;
}  

h3{
    font-size: 18px;
    font-weight: 500;
} 

h5{
    font-size: 17px;
    font-weight: 500;
}


/*link #D1AD54 */ 

a:link {
color: #59ABE3;
}
a:visited {
color: #D1AD54;
}
a:hover{
    color: #D1AD54;
}
.anodecor, .anodecor:hover{   
    text-decoration: none;
}

a.less:link {color:black;text-decoration:none;}
a.less:visited {color:black;text-decoration:none;}
a.less:hover {text-decoration:underline;}

/*navbar dropdown-menu*/

.navbar{
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-size: 0.7rem;  
    background: rgba(248,248,248, 0.97)!important;
}

.navbar-brand img{
    height: 2.4rem;
}

.navbar-nav li{
    padding-right: .7rem;
}

.navbar-light .navbar-nav .nav-link{
    padding-top: 0.8rem;
    color: black;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link:hover{
    color: #D71920;
}

.dropdown-menu{
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-size: 0.7rem;  
}

.dropdown-menu a:visited{
    color: #D71920;
    background-color: white;
}

.dropdown-menu a:hover{
    text-decoration: underline;
}


/*format*/
.boxed{
     font-size: 15px; 
     padding: 5px 10px 5px 10px; 
     margin-top: 10px; 
     margin-bottom: 10px;
     background-color: white;
     text-align: justify;
     font-weight: 400;
     border: .5px solid rgba(248,248,248, 0.97);
}


/*table*/
.table{
    width: 900px;
}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: rgba(248,248,248, 0.97)!important;
;
}

